<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/application.html}">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <section layout:fragment="content">
        <div th:if="${session.flash}" th:class="'alert alert-dismissible fade show m-0 rounded-0 alert-' + ${ctx.consumeSessionAttribute('flash-type')}" role="alert">
            <p class="m-0" th:text="${ctx.consumeSessionAttribute('flash')}"></p>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <div class="container-fluid p-3">
            <div class="container-lg mt-5">
                <h1 >Сайты</h1>
                <table class="table table-bordered mt-3">
                    <thead>
                        <th class="col-1">ID</th>
                        <th>Имя</th>
                        <th class="col-3">Последняя проверка</th>
                        <th class="col-1">Код ответа</th>
                    </thead>
                    <tbody>
                        <tr th:each="url : ${urls}" th:object="${url}">
                            <td th:text="*{getId()}"></td>
                            <td><a th:href="@{/urls/{id}(id=*{getId()})}" th:text="*{getName()}"></a></td>
                            <td th:text="*{getLatestCheck()} ? ${#temporals.format(url.getLatestCheck().getCreatedAt(), 'dd/MM/yyyy HH:mm')} : ''"></td>
                            <td th:text="*{getLatestCheck()} ? *{getLatestCheck().getStatusCode()} : ''"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <nav>
            <ul th:if="${urls}" class="pagination justify-content-center mt-5">
                <li th:class="${page <= 1} ? 'page-item disabled' : 'page-item'">
                    <a class="page-link" th:href="@{/urls(page=${page - 1})}" th:text="Назад"></a>
                </li>
                <li class="page-item active">
                    <a class="page-link" th:href="@{/urls(page=${page})}" th:text="${page}"></a>
                </li>
                <li th:class="${page >= totalPages} ? 'page-item disabled' : 'page-item'">
                    <a class="page-link" th:href="@{/urls(page=${page + 1})}" th:text="Вперёд"></a>
                </li>
            </ul>
        </nav>
    </section>
</body>
</html>