datasource:
  default: ${APP_ENV}

  development:
    username: ""
    password: ""
    url: "jdbc:h2:./app-db"

  production:
    driver: org.postgresql.Driver
    username: ${JDBC_DATABASE_USERNAME}
    password: ${JDBC_DATABASE_PASSWORD}
    url: ${JDBC_DATABASE_URL}

ebean:
  migration:
    run: true