<!DOCTYPE html>
<html lang="ru" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/application.html}">
<head>
    <meta charset="UTF-8">
    <title>Анализатор страниц</title>
</head>
<body>
    <section layout:fragment="content">
        <div th:if="${session.flash}" th:class="'alert alert-dismissible fade show m-0 rounded-0 alert-' + ${ctx.consumeSessionAttribute('flash-type')}" role="alert">
            <p class="m-0" th:text="${ctx.consumeSessionAttribute('flash')}"></p>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <div class="container-fluid bg-dark p-5">
            <div class="row">
                <div class="col-sm-10 mx-auto text-white">
                    <h1>Анализатор страниц</h1>
                    <p>Бесплатная проверка сайтов на SEO пригодность</p>
                    <form action="/urls" method="post" class="rss-form text-body">
                        <div class="row">
                            <div class="col">
                                <input type="text" id="url-1" autofocus required class="form-control w-100" name="url" placeholder="Ссылка">
                            </div>
                            <div class="col-auto">
                                <button type="submit" class="btn btn-primary h-100 ">Проверить</button>
                            </div>
                        </div>
                    </form>
                    <p class="mt-2 mb-0 text-muted">Пример: https://www.example.com</p>
                </div>
            </div>
        </div>
    </section>
</body>
